<html>
 
	<head>
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css" />
		<link rel="stylesheet" src="/stylesheets/style.css" />
		<script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
		<script type="text/javascript" src="/javascripts/generalOperations.js"></script>
		<link rel="icon" href="/images/favicon.ico">


	</head>

	<body onload="initMap();">
		<div id="map" style="height: 600px"></div>
	</body>

</html>